@import url("../font/font.css");

:root {
    --color-background: hsl(0, 0%, 100%);
    --color-on-background: hsl(0, 0%, 0%);

    --color-primary-50:  hsl(173, 40%, 95%);
    --color-primary-100: hsl(173, 45%, 90%);
    --color-primary-200: hsl(173, 50%, 80%);
    --color-primary-500: hsl(173, 90%, 40%);
    --color-primary-700: hsl(173, 95%, 30%);
    --color-primary-900: hsl(173, 100%, 15%);

    --color-neutral-5: hsl(0, 0%, 95%);
    --color-neutral-30: hsl(0, 0%, 70%);
    --color-neutral-50: hsl(0, 0%, 50%);
    --color-neutral-70: hsl(0, 0%, 30%);

    --color-on-primary: hsl(0, 0%, 100%);

    --color-surface-primary-50:  hsl(173, 40%, 95%);
    --color-surface-primary-100: hsl(173, 45%, 90%);
    --color-surface-primary-200: hsl(173, 50%, 80%);
    --color-surface-primary-400: hsl(173, 55%, 45%);
    --color-surface-primary-500: hsl(173, 60%, 40%);
    --color-surface-primary-600: hsl(173, 65%, 35%);
    --color-surface-primary-700: hsl(173, 70%, 30%);
    --color-surface-primary-800: hsl(173, 75%, 22.5%);
    --color-surface-primary-900: hsl(173, 80%, 15%);

    --color-on-surface-primary: hsl(0, 0%, 100%);
    --color-surface: hsl(173, 40%, 99%);
    --color-surface-elevated: hsl(173, 60%, 97.5%);
    --color-on-surface: hsl(0, 0%, 0%);

    --color-error: hsl(4, 90%, 58%);
    --color-on-error: hsl(0, 0%, 100%);
    --color-error-variant: hsl(4, 90%, 80%);

    --color-footer-background: var(--color-surface-primary-900);

    --color-right: hsl(145, 100%, 39%);
    --color-skipped: hsl(12, 100%, 43%);
    --color-wrong: hsl(0, 100%, 42%);

    --color-shadow: hsla(0, 0%, 0%, 0.4);
    --shadow-card: 0 3px 4px 0 rgba(12,12,12,.1),0 1px 3px 0 rgba(12,12,12,.1);
    --shadow-card-hover: 0 7px 14px 0 rgba(12,12,12,.2),0 3px 6px 0 rgba(12,12,12,.2);

    --open-new-icon: url("/WebDiakoluo/res/img/open_in_new_b.svg");
    --github-icon: url("/WebDiakoluo/res/img/github.svg");

    --nav-bar-content-margin: 2.7em;
}

:root.theme-dark {
    --color-background: hsl(0, 0%, 5%);
    --color-on-background: hsl(0, 0%, 100%);

    --color-primary-50:  hsl(173, 100%, 5%);
    --color-primary-100: hsl(173, 95%, 10%);
    --color-primary-200: hsl(173, 90%, 20%);
    --color-primary-500: hsl(173, 50%, 60%);
    --color-primary-700: hsl(173, 45%, 70%);
    --color-primary-900: hsl(173, 40%, 85%);

    --color-neutral-5: hsl(0, 0%, 5%);
    --color-neutral-30: hsl(0, 0%, 30%);
    --color-neutral-50: hsl(0, 0%, 50%);
    --color-neutral-70: hsl(0, 0%, 70%);

    --color-on-primary: hsl(0, 0%, 100%);

    --color-surface-primary-50:  hsl(173, 26%, 7%);
    --color-surface-primary-100: hsl(173, 44%, 10%);
    --color-surface-primary-200: hsl(173, 55%, 12%);
    --color-surface-primary-400: hsl(173, 58%, 14%);
    --color-surface-primary-500: hsl(173, 64%, 16%);
    --color-surface-primary-600: hsl(173, 67%, 19%);
    --color-surface-primary-700: hsl(173, 70%, 21%);
    --color-surface-primary-800: hsl(173, 72%, 24%);
    --color-surface-primary-900: hsl(173, 73%, 26%);

    --color-on-surface-primary: hsl(0, 0%, 100%);
    --color-surface: hsl(0, 0%, 7.5%);
    --color-surface-elevated: hsl(0, 0%, 10%);
    --color-on-surface: hsl(0, 0%, 100%);

    --color-error: hsl(4, 52%, 61%);
    --color-on-error: hsl(0, 0%, 100%);
    --color-error-variant: hsl(4, 52%, 20%);

    --color-footer-background: var(--color-surface-primary-100);

    --color-right: hsl(145, 75%, 39%);
    --color-skipped: hsl(12, 75%, 43%);
    --color-wrong: hsl(0, 75%, 42%);

    --open-new-icon: url("/WebDiakoluo/res/img/open_in_new_w.svg");
    --github-icon: url("/WebDiakoluo/res/img/github_w.svg");
}

/*
TODO Do not work on all surfaces
::selection, ::-moz-selection {
    background: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
}*/

html {
    width: 100%;
    height: 100%;

    background-color: var(--color-background);
    color: var(--color-on-background);
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    text-align: justify;
    height: 100%;
}

h1, h2,  h3, h4, h5, h6 {
    font-family: "Oswald", "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
}

h1.big {
    font-size: 2.5em;
}

body.nav .page-container {
    padding: 1em;
    padding-top: var(--nav-bar-content-margin);
}

body.nav .page-container > *:first-child {
    margin-top: 0;
}

body.nav > main.expand {
    min-height: 100%;
    box-sizing: border-box;
}

x-i18n {
    white-space: pre-line;
}

nav {
    display: grid;
    position: absolute;
    background-color: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
    box-shadow: 0px 3px 5px 2px var(--color-shadow);

    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    

    font: 700 1em "Oswald", sans-serif;

    height: 2em;
    padding: 0.2em;

    overflow: hidden;

    top: 0;
    left: 0;
    right: 0;

    z-index: 99;
}

footer {
    position: sticky;
    top: 100%;
    padding: 1em .5em;
    background-color: var(--color-footer-background);
    color: var(--color-on-surface-primary);
    clear: both;

    --color-background: var(--color-footer-background);
    --color-on-background: var(--color-on-surface-primary);
    --open-new-icon: url("/WebDiakoluo/res/img/open_in_new_w.svg");
    --github-icon: url("/WebDiakoluo/res/img/github_w.svg");
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr {
    border: 1px solid var(--color-surface-primary-200);
}

.table > tbody > tr:nth-child(odd) {
    background-color: var(--color-surface-primary-50);
}

.table > tbody > tr:nth-child(even) {
    background-color: var(--color-background);
}

.table > tbody > tr:hover, .table > tbody > tr:focus-within {
    background-color: var(--color-surface-primary-100);
}

.table > thead {
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    background-color: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
}

.table > thead > tr:hover, .table > thead > tr:focus-within {
    background-color: var(--color-surface-primary-500);
}

.table td {
    padding: 0 .1em;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    vertical-align: middle;
}

td.min {
    width: 2em;
}

.table-parent {
    overflow-x: auto;
}

body.colored {
    background-color: var(--color-surface-primary-700);
}

a {
    font: 300 1em "Oswald", sans-serif;
    color: inherit;
    transition: font-weight .3s;
}

a:hover, a:focus {
    font-weight: 500;
}

b {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

progress-bar {
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    background-color: var(--color-surface-primary-50);
    border: 1px solid var(--color-primary-500);
    height: 1.3em;
    width: 100%;
}

progress-bar > .progress-bar-inner {
    display: inline-block;

    background-color: var(--color-surface-primary-500);
    height: 100%;
    transition: width 1s ease;
}

progress-bar > .progress-bar-text {
    z-index: 2;
    font: bold 1em "Roboto";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, textarea, select {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    transition: border-color .2s, color .2s, background-color .2s;
}

input[type='text'], input[type='password'], input[type='url'], input[type='number'], input[type='checkbox'], input[type='radio'], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    
    padding: .3em .3em;
    
    color: var(--color-neutral-70);
}

input.unique-line {
    max-height: 1em;
}

input[type='text'], input[type='password'], input[type='url'] {
    border: none;
    border-radius: .5em .5em 0 0;
    border-bottom: solid 2px var(--color-primary-100);
}

input[type='number'], textarea, select {
    border: solid 2px var(--color-primary-100);
    border-radius: .25em;
}

input[type='checkbox'] {
    --button-image: url('/WebDiakoluo/res/img/checkbox.svg');
    --button-image-on: url('/WebDiakoluo/res/img/checkbox_on.svg');
}

input[type='radio'] {
    --button-image: url('/WebDiakoluo/res/img/radio.svg');
    --button-image-on: url('/WebDiakoluo/res/img/radio_on.svg');
}

input[type='checkbox'], input[type='radio'] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    
    background: var(--button-image);
    background-position: center;
    background-size: cover;
    
    cursor: pointer;

    vertical-align: middle;
}

input[type='checkbox'] + label, input[type='radio'] + label, label.checkbox {
    cursor: pointer;
    vertical-align: middle;
}

.checkbox > x-i18n {
    vertical-align: middle;
}

input[type='checkbox']:checked, input[type='radio']:checked {
    background-image: var(--button-image-on);
    background-position: center;
    background-size: cover;
}

input[type='checkbox']::after, input[type='radio']::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    opacity: 0;
    background-color: var(--color-background);
    transition: opacity .2s;
}

select {
    width: 100%;
    
    background-image: url('/WebDiakoluo/res/img/drop_down.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1.5em;
}

input[type='text']:hover, input[type='password']:hover, input[type='url']:hover, input[type='number']:hover, textarea:hover, select:focus, select:hover {
    border-color: var(--color-primary-500);
    background-color: var(--color-surface-primary-50);
    color: var(--color-on-background);
}

input[type='text']:focus, input[type='password']:focus, input[type='number']:focus, textarea:focus {
    background-color: var(--color-surface-primary-200); 

    border-color: var(--color-primary-700);
    color: var(--color-on-background);
}

input[type='checkbox']:hover::after, input[type='radio']:hover::after {
    opacity: .3;
}

input:invalid, textarea:invalid, select:invalid {
    border-color: var(--color-error) !important;
}

input[type='text']:invalid:focus, input[type='password']:invalid:focus, input[type='url']:invalid:focus, input[type='number']:invalid:focus, textarea:invalid:focus, select:invalid:focus {
    background-color: var(--color-error-variant);
}

input:disabled, textarea:disabled, select:disabled {
    color: var(--color-neutral-50);
    border-color: var(--color-neutral-30);
    background-color: var(--color-neutral-5);
}

select:disabled {
    background-image: url('/WebDiakoluo/res/img/drop_down_grey.svg');
}

input.small {
    width: 3em;
}

img {
    vertical-align: middle;
}

button {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    outline: none;

    font-family: "Oswald";
    font-weight: 700;
    font-size: 0.9em;
    
    border-radius: 1em;

    transition: all .3s;
}

button.btn {
    margin: .1em .2em;
    box-sizing: content-box;
}

button.right {
    float: right;
}

button.left {
    float: left;
}

button.image-button {
    width: auto;
    height: 2em;
    
    line-height: 1em;
    font-weight: 300;
    letter-spacing: .1em;
    
    padding: 0 .5em;
    border-radius: 3em;
    
    box-sizing: border-box;
    
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: var(--color-primary-100) 2px solid;
}

button.image-button > img {
    width: 1.5em;
    height: 1.5em;
}

button.btn:hover {
    box-shadow: 1px 2.5px 5px 2px var(--color-shadow);
    transform: translateY(-8px);

    background-color: var(--color-surface);
}

button.image-button span {
    margin-left: .2em;
    vertical-align: middle;
}

button.image-button.compact {
    padding: 0;
    width: 2em;
}

button.image-button.compact span {
    display: none;
}

button.image-button:hover, button.image-button:focus {
    border-color: var(--color-primary-700);
}

button.image-button:active {
    border-color: var(--color-primary-900);
}

button.image-button.colored {
    background-color: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
}

button.image-button.colored:hover, button.image-button.colored:focus {
    background-color: var(--color-surface-primary-800);
}

button.icon-button {
    width: 1.5em;
    height: 1.5em;
    margin: 0 .2em;

    position: relative;

    padding: 0;

    background-color: var(--color-background);
    border-radius: 3em;

    z-index: 1;
}

button.icon-button > img {
    vertical-align: baseline;
    width: 1.5em;
    height: 1.5em;
}

button.icon-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 3em;
    background-color: var(--color-surface-primary-100);

    transition: transform .3s cubic-bezier(.6,-0.28,.74,.05);

    transform: scale(0);
}

button.icon-button:hover::after, button.icon-button:focus::after {
    transform: scale(1.25);
    transition: transform .3s cubic-bezier(.18,.89,.32,1.28);
}

button.major {
    width: 100%;
    font-weight: 500;
}

button.red {
    background-color: var(--color-error) !important;
    color: var(--color-on-error) !important;
    border-color: var(--color-error) !important;
}

button.red:hover {
    border-color: var(--color-error-variant) !important;
}

textarea.resize-vertical {
    resize: vertical;
    min-height: 3.6em;
}

.hide-scroll {
    overflow: hidden;
}

.hide {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
    margin: 0 .2em;
}

.flex-center {
    align-items: center;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-card {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    box-shadow: var(--shadow-card);

    background-color: var(--color-background);
    color: var(--color-on-background);

    transform: translateY(-50%);
}

.main-card header {
    font: bold small-caps 2em "Oswald", sans-serif;
    letter-spacing: .1em;
    padding: .5em 1em;

    background-color: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
}

.main-card main {
    margin: 1em;
}

.card {
    border-radius: .5em;
    border: 1px solid var(--color-primary-50);
    
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    --color-background: var(--color-surface);
    --color-on-background: var(--color-on-surface);

    padding: .5em .7em;
    margin: 1em 0;

    box-shadow: var(--shadow-card);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    min-width: 100%;
    max-height: 100%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background-color: var(--color-surface);
    color: var(--color-on-surface);
    --color-background: var(--color-surface);
    --color-on-background: var(--color-on-surface);
}

.modal-content header {
    position: relative;

    font: bold small-caps 2em/1em "Oswald", sans-serif;
    letter-spacing: .1em;
    padding: .5em 1em;
    padding-right: 1.5em; /* if close button */

    background-color: var(--color-surface-primary-700);
    color: var(--color-on-surface-primary);
}

.modal-content.red header {
    background-color: var(--color-error);
    color: var(--color-on-error);

    --color-surface-primary-700: var(--color-error);
    --color-on-surface-primary: var(--color-on-error);
}

.modal-content main {
    padding: .7em 1em;
    padding-top: .5em;

    overflow: auto;
    flex-grow: 1;
}

.modal-content footer {
    position: static;
    background-color: var(--color-surface-primary-700);
    padding: 0;
    margin: 0;
}

.modal-close {
    position: absolute;
    top: 50%;
    right: .5em;

    width: 1em;
    height: 1em;

    padding: 0;

    font: 1em/1em "sans-serif";
    letter-spacing: 0;
    text-align: center;

    border-radius: 1em;
    background-color: inherit;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
    color: white;

    transform: translateY(-50%);

    transition: all .1s;
}

.modal-close:hover, .modal-close:focus {
    color: var(--color-surface-primary-700);
    background-color: var(--color-on-surface-primary);
}

.selector {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline;

    border-radius: 1em;
    padding: 0.3em 1em;
    border: solid 1px var(--color-primary-700);

    cursor: pointer;

    transition: all .3s;
}

.selector:hover, .selector:focus, .selector:focus-within {
    background-color: var(--color-surface-primary-700);
    border-color: var(--color-primary-200);
}

.selector-dropdown {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100%;

    visibility: hidden;

    max-height: 0px;

    padding: .0em .3em;
    margin-bottom: .5em;
    border-radius: .2em;

    background-color: var(--color-surface-primary-700);
    border: solid 0px var(--color-primary-200);

    overflow: hidden;


    transition: all .3s .5s ease-out, visibility 0s .8s;
}

.selector:hover .selector-dropdown, .selector:focus .selector-dropdown, .selector:focus-within .selector-dropdown {
    padding: .3em .3em;
    margin-bottom: .5em;
    border-radius: .2em;
    visibility: visible;

    max-height: 220%;

    border-width: 1px;

    transition: all .3s .2s ease-out, visibility 0s 0s;
}

.selector-dropdown-child {
    padding: .3em;
    border-radius: 0.2em;
}

.selector-dropdown-child:hover, .selector-dropdown-child:focus {
    background-color: var(--color-surface-primary-900);
}

.sortable {
    min-height: 3em;
}

.sortable-ghost {
    opacity: .4;
}

.popup-parent {
    position: relative;
}

.popup-child {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);

    padding: .2em .5em;
    border-radius: 1em;

    background-color: var(--color-surface-primary-800);
    border: solid 1px var(--color-primary-200);

    opacity: 0;
    transition: opacity .3s .2s ease-out;

    z-index: -20;
}

.popup-hover:hover > .popup-child, .popup-hover:focus > .popup-child, .popup-show > .popup-child {
    opacity: 1;
    z-index: 20;
}

.context-menu {
    visibility: hidden;
    position: absolute;
    padding: .0em .3em;

    z-index: 10;

    overflow: hidden;

    max-height: 0;
    
    background-color: var(--color-background);
    border: 0px solid var(--color-primary-200);
    border-radius: 0 .5em .5em .5em;
    
    transition: border-width .1s .4s, padding .5s, max-height .5s, visibility 0s .5s;
}

.context-menu.revertX {
    border-radius: .5em 0 .5em .5em;
}

.context-menu.context-show {
    visibility: visible;
    padding: .3em;
    border-width: 2px;
    max-height: 13em;

    transition: border-width .1s, padding .5s, max-height .5s, visibility 0s;
}

.context-menu > * {
    outline: none;
}

.context-menu > button {
    display: block;
    width: 100%;
    padding: .2em;
    cursor: pointer;
    
    line-height: 1em;
    font-weight: 300;
    letter-spacing: .1em;
    text-align: left;
    
    border-radius: .3em;
    background-color: var(--color-background);
    color: var(--color-on-background);
    
    transition: background-color .3s;
}

.context-menu x-i18n {
    vertical-align: middle;
}

.context-menu > button:hover, .context-menu > button:focus {
    background-color: var(--color-surface-primary-200);
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    background: var(--color-background);
    color: var(--color-on-background);
    border-top: solid 1px var(--color-primary-200);
    margin-top: 1em;
    padding: 0 .5em;
    min-height: 2.2em;
}

.text-icon {
    height: 2em;
    vertical-align: middle;
    padding-right: 0.5em;
}

.open-new-icon {
    background-image: var(--open-new-icon);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 1em;
    padding-right: 1.1em;
}

.github-link {
    background-image: var(--github-icon), var(--open-new-icon);
    background-position: center left, center right;
    background-size: 1em;

    padding: 0 1.1em;
}

.double-column > div:first-child {
    border-bottom: dotted var(--color-on-background);
}

.double-column > div {
    padding: .5em 0;
}

.unique-column {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-panel-page > .nav-panel {
    width: 100%;
    padding-top: var(--nav-bar-content-margin);
    box-sizing: border-box;
    overflow: auto;

    background: var(--color-surface-primary-400);
}

.nav-panel-page .page-container {
    padding-top: 0 !important;
}

.nav-panel-item {
    font-size: 1.5em;
    text-align: left;
    margin: .1em 0;
    padding: .3em;

    cursor: pointer;
}

.nav-panel-item:hover {
    background-color: var(--color-surface-primary-600);
}

.nav-panel-item.active {
    background-color: var(--color-surface-primary-700);
}

.nav-bar {
    display: flex;

    justify-content: space-between;
    margin: .25em .5em;    
}

.nav-button {
    width: 1em;
    height: 1em;

    padding: 0;
    font: 2em/1em "Roboto";

    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-button:hover, .nav-button:focus {
    transform: scale(1.5);
}

.nav-button.disabled {
    opacity: .4;
    transform: none;
    cursor: default;
}

.nav-div {
    display: inline-block;
}

.nav-right {
    background-image: url('/WebDiakoluo/res/img/nav_next_w.svg');
}

.nav-right-max {
    background-image: url('/WebDiakoluo/res/img/nav_last_w.svg');
}

.nav-left {
    background-image: url('/WebDiakoluo/res/img/nav_prev_w.svg');
}

.nav-left-max {
    background-image: url('/WebDiakoluo/res/img/nav_first_w.svg');
}

.global-nav-button {
    position: absolute;
    top: 50%;
    height: 2em;
    width: 2em;
    transform: translateY(-50%);

    padding: 0;
    background-color: var(--color-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3em;

    border: var(--color-primary-200) 2px solid;
}

.global-nav-left {
    left: .5em;  
    background-image: url('/WebDiakoluo/res/img/nav_prev.svg'); 
}

.global-nav-right {
    right: .5em;  
    background-image: url('/WebDiakoluo/res/img/nav_next.svg');  
}

.global-nav-button:hover, .global-nav-button:focus {
    border-color: var(--color-primary-700);
    transform: translateY(-50%) scale(1.3);
}

.global-nav-button:active {
    border-color: var(--color-primary-900);
}

.global-nav-button.disabled {
    opacity: .4;
    cursor: default;
    transform: translateY(-50%);
}

.global-nav-button.disabled:hover, .global-nav-button.disabled:focus {
    border-color: var(--color-primary-50);
}

.grid-keys {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .2em;
    align-items: center;
}

.boolean-true {
    padding-left: 1.2em;
    background: no-repeat left url("/WebDiakoluo/res/img/right.svg");
}

.boolean-false {
    padding-left: 1.2em;
    background: no-repeat left url("/WebDiakoluo/res/img/wrong.svg");
}

.important-font {
    color: var(--color-error);
}

#nav-logo {
    display: grid;
    place-items: center;
    height: 2em;
    width: 2em;

    cursor: pointer;
}

#nav-logo img {
    height: 2em;
    width: 2em;

    transition: height .3s;
}

#nav-settings {
    display: grid;
    place-items: center;
    height: 2em;
    width: 2em;

    cursor: pointer;
}

#nav-settings img {
    cursor: pointer;
    height: 2em;
    width: 2em;

    transition: height .3s;
}

#nav-logo:hover img, #nav-logo:focus img, #nav-settings:hover img, #nav-settings:focus img {
    height: 1.5em;
}

#nav-offline, #nav-sync {
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

#nav-sync {
    background-image: url('/WebDiakoluo/res/img/sync_w.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#nav-sync:hover {
    transform: scale(.8);
}

#nav-sync.nav-sync-error {
    background-image: url('/WebDiakoluo/res/img/sync_problem_w.svg')
}

#nav-sync.nav-no-sync {
    background-image: url('/WebDiakoluo/res/img/sync_disabled_w.svg')
}

#nav-sync.nav-syncing {
    animation: syncing 2s infinite linear;
    transition: transform .3s ease-in-out;
}

@keyframes syncing {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#version {
    text-decoration: underline dashed;
}

@media(min-height: 500px) {
    nav {
        position: fixed;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 1.1em;
    }

    button.image-button.compact {
        padding: 0 .5em;
        width: auto;
    }

    button.image-button.compact span {
        display: inline-block;
    }

    .main-card {
        left: 50%;
        right: unset;

        min-width: max(400px, 75%);
        max-width: min(90%, 800px);

        transform: translate(-50%, -50%);

        border-radius: 1em;
        overflow: hidden; /* hide border radius overflow */
    }

    .modal-content {
        min-width: max(400px, 75%);
        max-width: min(90%, 800px);
        margin: 3em 0;
        max-height: calc(100% - 6em); /* remove margins */

        border-radius: 1em;
    }

    .double-column {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    .double-column > div:first-child {
        border-bottom: unset;
        border-right: dotted var(--color-on-background);
    }

    .double-column > div {
        padding: 0 .5em;
    }

    .grid-keys {
        grid-template-columns: auto 1fr;
    }
    
}

@media (min-width: 600px) {
    .nav-panel-page {
        padding-left: clamp(20ch, 20%, 50ch); /* same as .nav-panel width */
     }

    .nav-panel-page > .nav-panel {
        position: fixed;
        left: 0;
        height: 100%;
        width: clamp(20ch, 20%, 50ch);
    }

    .nav-panel-page .page-container {
        padding-top: var(--nav-bar-content-margin) !important;
    }
}


@media (min-width: 1100px) {
    .main-card {
        min-width: max(60%, 825px);
        max-width: max(60%, 800px);
    }

    .modal-content {
        min-width: max(60%, 825px);
        max-width: max(60%, 800px);
    }
}